dialog {
  position: fixed;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -400px; /* Negative half of width. */
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
